<section class="section">
<div class="container">
<div class="card">
<div class="columns">
  <div class="column is-two-fifths">
    <div class="card-image p-5">
      <figure class="image is-2by4">

        <!-- Displays the card image -->
        <%= image_tag(@img, alt: @name) %>
      </figure>
    </div>
  </div>
  <div class="column p-5 is-vcentered">
    <div class="column p-4 has-background-primary-light">

      <div class="card-content">
        <!-- Displays card name and the supertype-->
        <h1 class="title"><%= @name %></h1>
        <p class="subtitle"><%= @supertype %></p>

        <!-- ERB Conditional - shows hp if the field isn't null -->
        <% if @hp != nil %>
          <p><strong>HP:</strong> <%= @hp %></p>
        <% end %>

        <!-- Displays artist -->
        <p><strong>Artist:</strong> <%= @artist %></p>

        <!-- ERB Conditional - shows text if the field isn't null -->
        <% if @description != nil %>
          <p><strong>Description:</strong></p>
          <p><%= @description %></p>
        <% end %>

        <!-- Displays the many-to-many table types information -->
        <%= render partial: 'types' %>
      </div>
      <!-- Displays details related to the card from the Set table -->
      <div class="card-content block">
        <h2 class="title">Set Details</h2>
        <p><strong>Set name:</strong> <%= @cardset.name %></p>
        <p><strong>Series:</strong> <%= @cardset.series %></p>
        <p><strong>Release date:</strong> <%= @cardset.releasedate %></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
