<section class="section">
  <div class="container">
    <div class="card">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="card-image p-5">
            <figure class="image is-2by4">
              <!-- Displays the card image -->
              <%= image_tag(@card.imageurl, alt: @card.name) %>
            </figure>
          </div>
        </div>
        <div class="column p-5 is-vcentered">
          <div class="column p-4 has-background-primary-light">
            <div class="card-content">
              <div class="card-content block">
                <!-- Displays card name and the supertype-->
                <h1 class="title"><%= @card.name %></h1>
                <!-- Pokemon / Trainer / Energy -->
                <p><strong>Supertype:</strong> <%= link_to @supertype, @link_super %></p>
                <!-- Stage -->
                <% for subtype in @card.subtypes %>
                  <p><strong>Subtype:</strong> <%= link_to subtype.name, @link_sub %></p>
                <% end %>
                <!-- ERB Conditional - Displays the many-to-many table types information -->
                <% if @supertype == "Pokémon" %>
                  <%= render 'types' %>
                <% end %>
                <!-- ERB Conditional - shows hp if the field isn't null -->
                <% if @card.hp != nil %>
                  <p><strong>HP:</strong> <%= @card.hp %></p>
                <% end %>
                <!-- Displays artist -->
                <p><strong>Artist:</strong> <%= @card.artist %></p>
                <!-- ERB Conditional - shows text if the field isn't null -->
                <% if @card.text != nil %>
                  <p><strong>Description:</strong></p>
                  <p><%= @card.text %></p>
                <% end %>
              </div>
              <!-- Displays details related to the card from the Set table -->
              <div class="card-content block">
                <h2 class="title">Set Details</h2>
                <p><strong>Set name:</strong> <%= link_to @cardset.name, @link_cardset %></p>
                <p><strong>Series:</strong> <%= @cardset.series %></p>
                <p><strong>Release date:</strong> <%= @cardset.releasedate %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
